/* General Styling */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 15px;
    width: 320px;
    margin: 0;
    overflow: hidden; /* Prevents the body from scrolling */
    transition: background-color 0.3s, color 0.3s;
}

#popup-content {
    text-align: center;
    max-height: 400px; /* Limit the height of the popup content */
    overflow-y: auto; /* Enable vertical scrolling */
}

h1 {
    font-size: 20px;
    color: #4a90e2;
    margin-bottom: 15px;
}

/* Flexbox for button and icon alignment */
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Add space below the button */
}

.icon-button img.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Space between icon and button text */
}

/* Button styling */
button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4a90e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #357ABD;
}

/* Search bar styling */
#search-bar {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
}

/* Resource list styling */
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

li {
    margin: 10px 0;
}

a {
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Dark Mode Styling */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode h1 {
    color: #81a1c1;
}

body.dark-mode button {
    background-color: #81a1c1;
}

body.dark-mode button:hover {
    background-color: #5e81ac;
}

body.dark-mode #search-bar {
    background-color: #2e2e2e;
    color: #ffffff;
    border-color: #555555;
}

body.dark-mode a {
    color: #81a1c1;
}

/* Toggle Switch Styling */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4a90e2;
}

input:checked + .slider:before {
    transform: translateX(24px);
}






